{% extends "layout.html" %} 

{% block title %}智慧機械與機電控制實驗室{% endblock %} 

{% block navbar %}
<header style="background-color: rgb(255, 255, 255)">
    {{super() }}
    <nav
    class="navbar navbar-expand navbar-light"
    style="background-color: rgb(158, 216, 255)"
    >
        <div class="container-fluid mx-5">
                <a class="navbar-brand" href="index.html">Home</a>
            <div class="navbar-collapse">
                <ul class="navbar-nav me-auto mb-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="record.html">record</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="log_in.html">personal info.</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input
                    class="form-control me-2"
                    type="search"
                    placeholder="Search"
                    />
                    <button class="btn" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>
{% endblock %}


{% block page_content %}
<div class="container p-3">
    <div class="row">
        <aside class="col-2">
            <div>
                <ul class="list-group mx-3">
                    <li class="list-group-item">product type 1</li>
                    <li class="list-group-item">product type 2</li>
                    <li class="list-group-item">product type 3</li>
                    <li class="list-group-item">product type 4</li>
                    <li class="list-group-item">product type 5</li>
                    <li class="list-group-item">product type 6</li>
                    <li class="list-group-item">product type 7</li>
                </ul>
            </div>
        </aside>
        <div id="content" div class="col-10">
            <div class="row">
                <div div class="col-4 mb-3">
                    <div class="card">
                        <img src="https://picsum.photos/400/300.jpg" class="card-img-top img-fluid" alt="..."/>
                        <div class="card-body">
                            <h5 class="card-title">product 1</h5>
                            <p class="card-text">Some introduction ...</p>
                            <button type="button" class="btn" style="background-color: rgb(218, 240, 253)" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Check out details
                            </button>
                        </div>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">product 1</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container">
                                            <div class="row d-flex justify-content-center">
                                                <div class="col-6">
                                                    <img src="https://picsum.photos/500/500.jpg" class="card-img-top img-fluid" alt="..."/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col"></th>
                                                                <th scope="col"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th scope="row">brand</th>
                                                                <td>Brand 1</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">type</th>
                                                                <td>Type 1</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">ID</th>
                                                                <td>12345678</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">status</th>
                                                                <td>booked</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                                            Add to list
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4 mb-3">
                    <div class="card">
                        <img
                            src="https://picsum.photos/400/300.jpg"
                            class="card-img-top img-fluid"
                            alt="..."
                        />
                        <div class="card-body">
                            <h5 class="card-title">product 1</h5>
                            <p class="card-text">Some introduction ...</p>
                            <button
                            type="button"
                            class="btn"
                            style="background-color: rgb(218, 240, 253)"
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModal"
                            >
                            Check out details
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-4 mb-3">
                    <div class="card">
                        <img
                            src="https://picsum.photos/400/300.jpg"
                            class="card-img-top img-fluid"
                            alt="..."
                        />
                        <div class="card-body">
                            <h5 class="card-title">product 1</h5>
                            <p class="card-text">Some introduction ...</p>
                            <button
                            type="button"
                            class="btn"
                            style="background-color: rgb(218, 240, 253)"
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModal"
                            >
                            Check out details
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-4 mb-3">
                    <div class="card">
                        <img
                            src="https://picsum.photos/400/300.jpg"
                            class="card-img-top img-fluid"
                            alt="..."
                        />
                        <div class="card-body">
                            <h5 class="card-title">product 1</h5>
                            <p class="card-text">Some introduction ...</p>
                            <button
                            type="button"
                            class="btn"
                            style="background-color: rgb(218, 240, 253)"
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModal"
                            >
                            Check out details
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-4 mb-3">
                    <div class="card">
                        <img
                            src="https://picsum.photos/400/300.jpg"
                            class="card-img-top img-fluid"
                            alt="..."
                        />
                        <div class="card-body">
                            <h5 class="card-title">product 1</h5>
                            <p class="card-text">Some introduction ...</p>
                            <button
                            type="button"
                            class="btn"
                            style="background-color: rgb(218, 240, 253)"
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModal"
                            >
                            Check out details
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-4 mb-3">
                    <div class="card">
                        <img
                            src="https://picsum.photos/400/300.jpg"
                            class="card-img-top img-fluid"
                            alt="..."
                        />
                        <div class="card-body">
                            <h5 class="card-title">product 1</h5>
                            <p class="card-text">Some introduction ...</p>
                            <button
                            type="button"
                            class="btn"
                            style="background-color: rgb(218, 240, 253)"
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModal"
                            >
                            Check out details
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-4 mb-3">
                    <div class="card">
                        <img
                            src="https://picsum.photos/400/300.jpg"
                            class="card-img-top img-fluid"
                            alt="..."
                        />
                        <div class="card-body">
                            <h5 class="card-title">product 1</h5>
                            <p class="card-text">Some introduction ...</p>
                            <button
                            type="button"
                            class="btn"
                            style="background-color: rgb(218, 240, 253)"
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModal"
                            >
                            Check out details
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-4 mb-3">
                    <div class="card">
                        <img
                            src="https://picsum.photos/400/300.jpg"
                            class="card-img-top img-fluid"
                            alt="..."
                        />
                        <div class="card-body">
                            <h5 class="card-title">product 1</h5>
                            <p class="card-text">Some introduction ...</p>
                            <button
                            type="button"
                            class="btn"
                            style="background-color: rgb(218, 240, 253)"
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModal"
                            >
                            Check out details
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-4 mb-3">
                    <div class="card">
                        <img
                            src="https://picsum.photos/400/300.jpg"
                            class="card-img-top img-fluid"
                            alt="..."
                        />
                        <div class="card-body">
                            <h5 class="card-title">product 1</h5>
                            <p class="card-text">Some introduction ...</p>
                            <button
                            type="button"
                            class="btn"
                            style="background-color: rgb(218, 240, 253)"
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModal"
                            >
                            Check out details
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
