{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}    <!--引入bootstrap擴充模板-->

{% block title %}登入{% endblock %}

{% block navbar %}
<header style="background-color: rgb(158, 216, 255)">
    {{super() }}
</header>
{% endblock %}

{% block page_content %}
<div class="container">
    <div class="row">
        <div class="col-6 mx-auto mt-5 mb-2 py-4 text-center">
            <h3>Welcome back!</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-4 m-auto p-5 rounded-3 border border-primary">
            {{ wtf.quick_form(form) }}  <!--快速轉譯表單，日後可以精緻化-->
        </div>
    </div>
</div>
{% endblock %}