{% extends "layout.html" %} 

{% block title %}智慧機械與機電控制實驗室{% endblock %} 

{% block navbar %}
<header style="background-color: rgb(255, 255, 255)">
    {{super() }}
    <nav
    class="navbar navbar-expand navbar-light"
    style="background-color: rgb(158, 216, 255)"
    >
        <div class="container-fluid mx-5">
            {% if name %}
            <a class="navbar-brand" href="/{{ name }}">Home</a>
            {% else %}
            <a class="navbar-brand" href="/">Home</a>
            {% endif %}
            <div class="navbar-collapse">
                <ul class="navbar-nav me-auto mb-0">
                    {% if name %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/record/{{ name }}">record</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        {% if name %}
                        <a class="nav-link active" aria-current="page" href="">{{ name }}</a>
                        {% else %}
                        <a class="nav-link active" aria-current="page" href="/login">Log in</a>
                        {% endif %}
                    </li>
                </ul>
                <form class="d-flex">
                    <input
                    class="form-control me-2"
                    type="search"
                    placeholder="Search"
                    />
                    <button class="btn" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>
{% endblock %}


{% block page_content %}
<div class="container p-3">
    <div class="row my-3">
        <div class="col-12">
            <h4>Booking and renting</h4>
            <table class="table table-striped text-center">
                <thead>
                    <tr>
                        <th>借用人</th>
                        <th>財物名稱</th>
                        <th>廠牌</th>
                        <th>型式</th>
                        <th>租借日期</th>
                        <th>歸還日期</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in recent_record %}
                    <tr>
                        <td>{{ i.借用人 }}</td>
                        <td>{{ i.財物名稱 }}</td>
                        <td>{{ i.廠牌 }}</td>
                        <td>{{ i.型式 }}</td>
                        <td>{{ i.租借日期 }}</td>
                        <td>{{ i.歸還日期 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12">
            <h4>History record</h4>
            <table class="table table-striped text-center">
                <thead>
                    <tr>
                        <th>借用人</th>
                        <th>財物名稱</th>
                        <th>廠牌</th>
                        <th>型式</th>
                        <th>租借日期</th>
                        <th>歸還日期</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in passed_record %}
                    <tr>
                        <td>{{ i.借用人 }}</td>
                        <td>{{ i.財物名稱 }}</td>
                        <td>{{ i.廠牌 }}</td>
                        <td>{{ i.型式 }}</td>
                        <td>{{ i.租借日期 }}</td>
                        <td>{{ i.歸還日期 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
