{% extends 'layout.html' %}

{% block title %}資料庫讀取{% endblock %}

{% block navbar %}
<header style="background-color: rgb(255, 255, 255)">
    {{super() }}
    <nav class="site-header sticky-top py-1 px-5" style="background-color: rgb(158, 216, 255)">
        <div class="container d-flex flex-column flex-md-row justify-content-between">
            <a class="text-dark nav-link active" aria-current="page" href="/userDB">使用者資料</a>
            <a class="text-dark nav-link active" aria-current="page" href="/recordDB">借用紀錄</a>
            <a class="text-dark nav-link active" aria-current="page" href="/lab_equDB">財產資料</a>
        </div>
    </nav>
</header>
{% endblock %}

{% block page_content %}
<table class="table table-striped text-center my-5">
    <thead>
        <tr>
            <th>狀態</th>
            <th>借用人</th>
            <th>財物編號</th>
            <th>財物名稱</th>
            <th>廠牌</th>
            <th>型式</th>
            <th>財物條碼</th>
            <th>租借日期</th>
            <th>歸還日期</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for i in context %}
        <tr>
            <td>{{ i.狀態 }}</td>
            <td>{{ i.借用人 }}</td>
            <td>{{ i.財物編號 }}</td>
            <td>{{ i.財物名稱 }}</td>
            <td>{{ i.廠牌 }}</td>
            <td>{{ i.型式 }}</td>
            <td>{{ i.財物條碼 }}</td>
            <td>{{ i.租借日期 }}</td>
            <td>{{ i.歸還日期 }}</td>
            <td><a href= "recordDB_delete/{{ i._id }}" class="btn" role="button" style="background-color: rgb(255, 107, 107)">刪除</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}